<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454994184822-iknsi7dm7jdamsck1i8bliro784q0vcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454994184822-iknsi7dm7jdamsck1i8bliro784q0vcm</string>
	<key>API_KEY</key>
	<string>AIzaSyCjJiUsif6mQs8z9lMZq2nrP6ewLtVykn8</string>
	<key>GCM_SENDER_ID</key>
	<string>454994184822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.untanglify.SwiftTwitterClone</string>
	<key>PROJECT_ID</key>
	<string>swifttwitterproject</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttwitterproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454994184822:ios:e50c2726499bdbded22d57</string>
</dict>
</plist>